<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8">
  <title>登录</title>
  <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  <meta name="author" content="Vincent Garreau" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" th:href="@{/static/css/login.css}">
</head>
<body>
<!-- particles.js container -->
<div id="particles-js" style="display: flex;align-items: center;justify-content: center">
</div>
<div class="login-page">
<form id="form" method="post">
   <div class="login-content">
     <div class="tab-container">
 		<ul class="tab-head login-tit">
 		 <li id="1" class="select" th:onclick="changeTab(1)"><a href="#">用户名/密码</a></li>
 		 <li id="2" th:onclick="changeTab(2)"><a href="#">手机号/验证码</a></li>
 		</ul>
 		<div id="tab-panel" class="tab-panel">
		  <section id="panel-1"><p>
		   	 <div  class="login-input">
		        <input style="margin-top: 25px" name="username" type="text" placeholder="用户名/手机号">
		     </div>
		     <div class="login-input">
		       <input name="password" type="password" placeholder="密码">
		    </div>
	     	<div class="login-input">
		    <div style="margin:5px 0px;">
					<input name="kaptcha" type="text" style="width:200px;" placeholder="请输入验证码..."/>
					<img id="imgObj" th:src="@{/kaptcha/image}"  onclick="javascript:changeImg()" style="vertical-align:bottom;" alt="验证码"/>
			</div>
	    	</div>
	    	<div class="login-btn">
		      <div class="login-btn-left" th:onclick="submit(1)">
		        <span>登录</span>
		      </div>
		      <div class="login-btn-right" th:onclick="changeImg1()">
		        <img th:src="@{/static/img/check.png}" alt="" id="picture"> 记住密码
		      </div>
		    </div>
		  </p>
		 </section>	
		  <section id="panel-2">
		  <p>
		  <div  class="login-input">
	       <input style="margin-top: 25px" name="phone" type="text" placeholder="手机号">
	     </div>
	     <div class="login-input">
	      <input name="verificationCode" type="password" placeholder="验证码">
	    </div>
	    <div class="login-btn">
              <div class="login-btn-left" th:onclick="submit(2)">
                <span>登录</span>
              </div>
         </div>
		  </p>	
		  </section>
 		</div>
 </div>
   </div>
   </form>
</div>


<!-- scripts -->
<script th:src="@{/static/js/particles.js}"></script>
<script th:src="@{/static/js/app.js}"></script>
<script th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/static/js/jquery-form-min.js}"></script>
<script th:inline="javascript">
	  function changeImg1(){
	    let pic = document.getElementById('picture');
	    console.log(pic.src)
	    if(pic.getAttribute("src",2) =="/static/img/check.png"){
	      pic.src ="/static/img/checked.png"
	    }else{
	      pic.src ="/static/img/check.png"
	    }
	  }
	  $("#submit").click(function(){
		 
	});
        
		//登录
		function submit(type) { 
			var url;
			if(type === 1){
				url = '/auth/login';
			}else {
				url = '/auth/phone/login';
			}
			debugger
			 $('#form').ajaxSubmit({  
		           url: url,  
		           type: 'post',  
		           success: function (data) {  
		               debugger
		             if(data.code == 200){
		                window.location.href = "/";
		             }else{
		                 changeImg();
		                alert(data.message)
		             }
		           },  
		             clearForm: false,//禁止清楚表单  
		             resetForm: false //禁止重置表单  
		        });  
		}  
		//刷新图片  
		function changeImg() {  
		    var imgSrc = $("#imgObj");  
		    var src = imgSrc.attr("src");  
		    imgSrc.attr("src", changeUrl(src));  
		}  
		//为了使每次生成图片不一致，即不让浏览器读缓存，所以需要加上时间戳  
		function changeUrl(url) { 
			if(url){
			    var timestamp = (new Date()).valueOf();  
			    var index = url.indexOf("?",url);  
			    if (index > 0) {  
			        url = url.substring(0, index);  
			    }  
			    if ((url.indexOf("&") >= 0)) {  
			        url = url + "&timestamp=" + timestamp;  
			    } else {  
			        url = url + "?timestamp=" + timestamp;  
			    }  
			}
		    return url;
		}  
		

		 function changeTab(id) {
		 	var lis = document.getElementsByTagName('li');
		 	for (var i = 0; i < lis.length; i++) {
		 		lis[i].setAttribute('class','');
		 	};
		 	$("#"+id).addClass('select');
		 	var ele = document.getElementById('tab-panel');
		 	ele.style.left=-(id-1)+'00%';
		 }
</script>
</body>
</html>
